.home{
    
    display: block;
    text-align:center;
    background-image:url(https://img.freepik.com/vector-gratis/mapa-mundial-nodos-unidos-lineas-mapa-estructura-poligonal_110633-321.jpg);
    align-items: baseline;
    /* margin-left: 10cm;
    margin-right: 10cm; */
    height: 100vh;
    background-size:cover ;
    background-repeat:no-repeat;
    background-position: center;
    
}
.input{
    position: relative;
    outline: none;                 
    margin-top: 1cm;
    margin-left: 1cm;
    height: 34px;
    font-size: 18px;
}
.boton1{
    font-size: 18px;
    border-radius: 7%;
    height: 40px;
    border-left: 5cm;
}
.boton2{
    font-size: 18px;
    border-radius: 7%;
    height: 40px;
    border-left: 5cm;
}
.Card {
    display: inline-block;
    border:3px solid rgb(65, 91, 204);
    border-radius:22px;
    margin-right: 10px;
    margin-block: 10px;
    
}
.barra{
    display: block;
    
}
.atras{
    border: 0;
    margin-right: 10px;
    font-size: 50px;
    font-weight: 100px;
    color: black;
    background-color: transparent;
  
}
.adelante{
    border: 0;
    margin-left: 10px;
    font-size: 50px;
    color: black;
    background-color: transparent;
}
.pagina{
  text-align:center;

}
.numpage{
    order: 0;
    font-size: 55px;
    font-weight: 100px;
}
.atras:hover{
    box-shadow: 0 0 40px 40px blue inset;
    border-radius: 25%;
}
.adelante:hover{
    box-shadow: 0 0 40px 40px blue inset;
    border-radius: 25%;
}
.map{
    margin-left: 5cm;
    margin-right: 5cm;  
}
.continentes{
    display: block;
    text-align: center;
    font-size: 18px;
}
.asia{
    color: blueviolet;
}
.asia:active{
   
        background: burlywood;
      
}