.home{   
    flex: 1;
    display: block;
    text-align:center;
    /* background-image:url(https://img.freepik.com/vector-gratis/mapa-mundial-nodos-unidos-lineas-mapa-estructura-poligonal_110633-321.jpg); */
    align-items: baseline;
    /* margin-left: 10cm;
    margin-right: 10cm; */
    /* height: 100vh; */
    
    
}
.map{
    display: block;
    
}
.selectOrden{
    border: gray;
    outline: gray;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    padding: 5px 55px 6px 10px;
    font-size: 14px; 
}
.selectOrden:hover {
    background-color:blue; /* Green */
    color: white;
}
.selectTour{
    border: gray;
    outline: gray;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    padding: 7px 55px 7px 10px;
    font-size: 14px; 
}
.selectTour:hover {
    background-color:blue; /* Green */
    color: white;
}
.input{
    position: relative;
    outline: none;                 
    margin-top: 1cm; 
    font-size: 14px; 
    padding: 5px 55px 5px 10px;
}
.boton1{
    font-size: 16px;
    border-radius: 7%;
    
    padding: 4px 15px 5px 10px;
    
}
.boton2{
    font-size: 18px;
    border-radius: 7%;
    height: 40px;
    border-left: 5cm;
}
.Card {
    display: inline-block;
    border:3px solid rgb(65, 91, 204);
    border-radius:22px;
    margin-right: 10px;
    margin-block: 10px;
    
}
.barra{
    display: block;
  
}
.atras{
    border: 0;
    margin-right: 10px;
    font-size: 50px;
    font-weight: 100px;
    color: black;
    background-color: transparent;
  
}
.adelante{
    border: 0;
    margin-left: 10px;
    font-size: 50px;
    color: black;
    background-color: transparent;
}
.pagina{
    position: inherit;
  text-align:center;
  float: initial;


}
.numpage{
    order: 0;
    font-size: 55px;
    font-weight: 100px;
}
.atras:hover{
    box-shadow: 0 0 40px 40px blue inset;
    border-radius: 25%;
}
.adelante:hover{
    box-shadow: 0 0 40px 40px blue inset;
    border-radius: 25%;
}

.continentes{
    display: block;
    text-align: center;
    font-size: 18px;
}
.asia{
   
    background-color: #4CAF50; /* Green */
    border: 100px  ;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
    
.asia:focus{
    background: blueviolet;
}
.asia:hover {
    background-color:blueviolet; /* Green */
    color: white;
}

.americas{
    background-color: #4CAF50; /* Green */
    border: none;
    
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}   
.americas:focus{
    background: blueviolet;
}
.americas:hover {
    background-color:blueviolet; /* Green */
    color: white;
}

.africa{
    background-color: #4CAF50; /* Green */
    border: none;
    
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}   
.africa:focus{
    background: blueviolet;
}
.africa:hover {
    background-color:blueviolet; /* Green */
    color: white;
}


.antartic{
    background-color: #4CAF50; /* Green */
    border: none;
   
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}   
.antartic:focus{
    background: blueviolet;
}
.antartic:hover {
    background-color:blueviolet; /* Green */
    color: white;
}

.europe{
    background-color: #4CAF50; /* Green */
    border: none;
   
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}   
.europe:focus{
    background: blueviolet;
}
.europe:hover {
    background-color:blueviolet; /* Green */
    color: white;
}

.oceania{
    background-color: #4CAF50; /* Green */
    border: none;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}   
.oceania:focus{
    background: blueviolet;
}
.oceania:hover {
    background-color:blueviolet; /* Green */
    color: white;
}
.todos {
    background-color: #4CAF50; /* Green */
    border: none;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}   
.todos:focus{
    background: blueviolet;
}
.todos:hover {
    background-color:blueviolet; /* Green */
    color: white;
}
.imagen{
    position: absolute;
    height: 100%;
    width: 100%;
}